/* Style the header */
.header {
    background-color: #9e9e9e7a;
    padding: 2%;
  }
  
  /* Style the title inside the header */
  .title {
    margin: 0;
    font-size: 5vw;
    text-align: center;
    color: white;
  }

  @media (max-width: 768px) {
    /* Styles for screens smaller than 768px */
    .header {
      padding: 20px;
      padding-bottom: 50px;
    }
    .title {
      font-size: 2rem;
    }
  }
  