@import "~bootstrap/dist/css/bootstrap.css";

.submit-form,
.edit-form {
  max-width: 500px;
  margin: 0 auto;
  flex: 1;
  max-width: 400px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.container {
  padding: 20px;
  display: flex;
  flex-direction: row;
  background-color: #f8f9fa;
}

.card {
  margin-bottom: 20px;
  padding: 10px;
  background: linear-gradient(to bottom right, #fff, #e6e6e6);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.card-header {
  border-bottom: 1px solid #dee2e6;
  padding: 10px;
}

.submit-btn {
  background-color: #007bff;
  border-radius: 5px;
  color: white;
}



.delete-btn,
.visibility-btn,
.edit-btn,
.cancel-btn,
.update-btn,
.submit-btn,
.card-controls a {
  border-radius: 5px;
  color: white;
  margin-top: 3px;
  margin-left: 3px;
}

.delete-btn {
  background-color: #c10000;
}

.visibility-btn {
  background-color: #4d5a58;
}

.edit-btn {
  background-color: #c89301;
}

.card-columns {
  column-count: 3;
}

@media (max-width: 820px) {
  /* Adjust styles for devices with a maximum width of 768px */
  .submit-form,
  .edit-form {
    max-width: 100%;
    margin: 0 auto;
    padding: 5%;
  }

  .card-columns {
    column-count: 2;
  }

  .col-md-4 {
    width: 100%;
  }

  .col-md-8 {
    width: 100%;
  }

  .edit-form {
    max-width: 100%;
    margin: 0 auto;
  }

  .card-controls {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 576px) {
  /* Adjust styles for devices with a maximum width of 576px */
  .submit-form {
    max-width: 100%;
    margin: 0 auto;
  }

  .card-columns {
    column-count: 1;
  }

  .col-md-4 {
    width: 100%;
  }

  .edit-form {
    max-width: 100%;
    margin: 0 auto;
  }
}
